<p>formgroup works!</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
 <label for="first-name">FirstName:</label>
 <input id="first-name" type="text" formControlName="firstName">
 <label for="last-name">LastName:</label>
 <input id="last-name" type="text" formControlName="lastName">
 <div formGroupName="address">
 <label for="address">Address</label>
 <label for="street">Street</label>
 <input id="address-street" type="text" formControlName="street">
 <label for="zipcode">ZipCode</label>
 <input id="address-zipcode" type="text" formControlName="zipcode">
</div>
 <button type="submit">Update</button>
</form>


<form [formGroup]="educationalDetails" (ngSubmit)="educationForm()">
  <label for="qualification">Qualification:</label>
  <input id="qualification_ug" type="radio" value="UG" formControlName="highQualification">UG
  <input id="qualification_pg" type="radio" value="PG" formControlName="highQualification">PG
  <input id="qualification_below_school" type="radio" value="School_Level" formControlName="highQualification">Under School_Level

  <div formGroupName="College">
  <label for="clg">College details</label>
  <label for="clg_name">CLG Name</label>
  <select id="colleges" formControlName="name">
    <option *ngFor="let college of colleges">{{college}}</option>
  </select>

 </div>
  <button type="submit">Update</button>
 </form>
